<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a href="index.html" class="logo">
        <div class="logo__icon">ITF</div>
        <div class="logo__text">
          <span class="logo__title">Textile Forum</span>
          <span class="logo__sub">Tajikistan 2026</span>
        </div>
      </a>
      <nav class="footer__nav">
        <a href="about.html">About</a>
        <a href="agenda.html">Agenda</a>
        <a href="speakers.html">Speakers</a>
        <a href="sponsorship.html">Sponsorship</a>
        <a href="media.html">Media</a>
        <a href="contacts.html">Contacts</a>
        <a href="privacy.html">Privacy</a>
      </nav>
    </div>
    <div class="footer__bottom">
      <div class="footer__copy">
        © 2026 International Textile Forum Tajikistan. All rights reserved.
      </div>
      <div class="footer__socials">
        <a href="#"><i class="fab fa-telegram"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</footer>
